{% extends 'userbase.html' %}
{% load static %}
{% block content_data %}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<div class="container" style="margin: 5rem 10rem;">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <b style="margin: 1rem 0;">Your_Name:{{ user.full_name }}</b><br>
    <b style="margin: 1rem 0;">Owner_Email:{{ prod.email_id }}</b><br>

    <b style="margin: 1rem 0;">furniture_name:{{ prod.title  }}</b><br>
    <br>
    <b style="margin: 1rem 0;"><label>
        Submit Your Agreement Form Here:
    </label></b>
    <input class="btn btn-primary" type="file" name="document" id="document" placeholder="Document"><br>

    <input class="btn btn-success" type="submit" value="Send Booking Request">
</form>
<b><p style="color: rgb(47, 0, 255)">{{ error }}</p></b>  <br>         
</div>

 <!-- footers 20 -->
 {% endblock content_data %}