<h1>My Cart Tracker</h1>
<div class="container">
    <h2> Paytm Response </h2>
    {{response}}
    <div class="col my-4">

        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS

        {% else %}
        ORDER FAILURE
        <script>
            var timer = setTimeout(function() {
                window.location="{% url 'index' %}"
            }, 3000);
        </script>
        {% endif%}

    </div>
</div>